@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Noto+Sans:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjord+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand{
  font-family: 'Cinzel', serif;
  color: #3C6255;
  font-size:x-large;
}

 .bg-custom{
    background-color:#CEEDC7;
 }

 .navbar-nav .nav-link .bttn {
    color: #3C6255;
    font-family: 'EB Garamond', serif;
    padding-top: inherit;
  }

  .navbar-nav .nav-link .reg {
    font-size: 1.1rem;
    color: #3C6255;
    font-family: 'EB Garamond', serif;
  }


  
  .navbar-nav .nav-link:hover {
    color: black;
  }


  .searchcustom{
    background-color: #839AA8;
  }

  .carousel-img {
    height: 600px; 
    width: 800px;
    object-fit: cover;
    
  }
  .material-symbols-outlined{
    line-height: 0px;
   
  }

  .carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(119, 118, 118, 0.5), rgba(0, 0, 0, 0.5));
  }

  .navbutton {
    height: 2.5rem;
    font-weight: 600;
    color: #090909;
    padding: 0.1em 1.1em;
    font-size: 14px;
    border-radius: 1.2em;
    background: #CCEABB;
    border: 1px solid #CCEABB;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
               -6px -6px 12px #ffffff;
  }
  
  .navbutton:hover {
    border-bottom: 1px solid black;
  }
  
  .navbutton:active {
    box-shadow: 4px 4px 12px #c5c5c5,
               -4px -4px 12px #ffffff;
  }

  .row{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
  }

  .para{
    font-family: 'Fjord One', serif;
    font-size: 16px;
    padding-top:40px;
  }

  .para h2{
    font-family: 'Fjalla One', sans-serif;
    font-size: 4rem;
    color: #40513B;
  }

  #about img{
    border-radius: 0.5rem;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }
  
  #about h1{
    font-family:  'Abril Fatface', cursive;
    font-size: 4rem;
    color: #839AA8;
    
  }  

  .searchcustom {
    background: none;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .linker {
    border: 1px solid white;
  }
  
  .linker:hover {
    /* border: 1px solid #CCEABB; */
    /* background: #CCEABB */
    border-bottom: 1px solid black;
  }

  .superLinker {
    /* border: 1px solid; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2%;
  }

  
