#header2{
    background-image: url("../blogimg/header2.png") ;
    background-size:cover;
    background-repeat: no-repeat;
    
    height: 40vh;
    width:100%;
    padding: 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
   
}

#header2 h2,
#header2 p{
color: #e9dcdd;
font-family:'Montserrat', sans-serif ;
font-weight: 600;
text-shadow: rgb(14, 14, 14);
}


#blog{
    padding: 150px 150px 0px 150px;

}

#blog .blogbox{
    display: flex;
    align-items: center;
    width:100%;
    margin-bottom: 100px;
}
#blog .blogimg{
    width:50%;
    margin-right:40px;
}
#blog img{
    width:100%;
    height:300px;
    object-fit:cover;
    border: none;
    border-radius: 3px;
}

#blog .blogdetails p,
#blog .blogdetails button{

font-family:'Montserrat', sans-serif ;

}

#blog .blogdetails h4{
    font-family: 'League Spartan', sans-serif;
}

#pages{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin-bottom: 3rem;
  
}